---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Apuesta por lo inimaginable y conseguiras un éxito Cosmoférico.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    La idea no es buscar pequeñas mejoras incrementales, sino aspirar a una mejora enorme o, mejor aún, resolver el problema por completo.
  </p>
  <div class="flex mt-5">
    <Link href="https://juanpaz.info" target="_blank"   style="inverted">Contactanos</Link>
  </div>
</div>
