---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Data leadership / Data-Driven ",
    description:
      "Apoyamos a las organizaciones  a  tomar decisiones basadas en datos, promover una cultura de datos dentro de la empresa (DatOps), y asegurar que se utilicen las  tecnologías adecuadas. ",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Static HTML, No JS",
    description:
      "Apoyamos el diseño e implementación de arquitecturas de Integración, alineados a especificaciones como OpenAPI 3.1  y con las últimas plataformas líderes según  Gartner de integración IpaaS y API Management ",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Integración de Aplicaciones",
    description:
      "Integramos sus aplicaciones a Modelos de AI como Gemini 1.5Pro ,GPT4o  y desarrollamos prompt AI con herramientas NoCode,LowCode o DevPro  para que aprovechar  los últimos modelos de AI. ",
    icon: "bx:bxs-bot",
  },
  {
    title: "Innovation hub",
    description:
      "Ideamos,diseñamos y desplegamos soluciones digitales de forma rápida,  aprovechando la plataformas  NoCode/LowCode(AppSheet,APEX,PorwerApps)  y APIs Backend en Serveless(firebase,Functions,lambda).",
    icon: "bx:bxs-data",
  },
  {
    title: "Infraestructura Cloud",
    description:
      "Apoyamos la gestion de su nube o multinube con GCP,OCI,AZURE y AWS!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "StartUp",
    description:
      "Acompañamos a los emprendedores a construir sus sueños con base tecnológica. Ofrecemos desarrollo de MVP, escalamiento en la nube desde la capa gratuita hasta su crecimiento. ",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Que no te intimide lo imposible.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Muchas compañías cambian y mejoran la tecnología pero siguen trabajando de la misma forma,
    primero se debe transformar el negocio con el apoyo de lo digital.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
